################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Blowfish - PP/Blowfish/x64/Debug
/Blowfish - PP/x64/Debug
/Blowfish - PP/ipch/BLOWFISH-34980642/BLOWFISHALGORITHM-ab45d7cf.ipch
/Blowfish - PP/ipch/BLOWFISH-34980642
/Blowfish - PP/BlowFishSolution.VC.VC.opendb
/Blowfish - PP/BlowFishSolution.VC.db
/Blowfish - PP/.vs/BlowFishSolution/v14
/Blowfish - PP/ipch/BLOWFISHALGORITHM - CILK-856b4fd0/BLOWFISHALGORITHM - CILK-45e3e39f.ipch
/Blowfish - PP/ipch/BLOWFISHALGORITHM - CILK-856b4fd0
/Blowfish - PP/BlowFishAlgorithm - CILK/x64/Debug
/Blowfish - PP/BlowFishAlgorithm - CILK/BlowFishAlgorithm - CILK.vcxproj.user
/Blowfish - PP/BlowFishAlgorithm - CILK/BlowFishAlgorithm - CILK.vcxproj.filters
/Blowfish - PP/ipch/BLOWFISHALGORITHM - CILK-2469fc35/BLOWFISHALGORITHM - CILK-45e3e39f.ipch
/Blowfish - PP/ipch/BLOWFISHALGORITHM - CILK-2469fc35
/Blowfish - PP/ipch/BLOWFISH-e5365ea7/BLOWFISHALGORITHM-ab45d7cf.ipch
/Blowfish - PP/ipch/BLOWFISH-e5365ea7
/Blowfish - PP/ipch
