################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Blowfish - PP/Blowfish/x64/Debug
